@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Fira+Sans&family=Oleo+Script:wght@700&family=Patrick+Hand&family=Source+Code+Pro:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Las variables al momento de querer aplicarlas no me las toma y no se porque */

:root{
    --dark-bg:var(#d10000);
    --grey-: var(#97AFC7);
    --black-:var(#000);
    --font-:var('fira sans');
}

body{
    font-family: 'fira sans';
    background-color: rgb(2, 22, 202);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 100px;
    margin: 100px 0 200px 0;

}
.container__main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0 ;
} 

.main__img{
    width:400px;
    height: 400px;
    border-radius: 10px;
}
.container__form a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;   
}

input {
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    border: none;
    text-align: center;
}

.btn{
    background: red;
    cursor: pointer;
}



.btn:hover{
    background-color: #fff;
    color: #000;
    transition: 0.8s;
    border: 2px solid #000;
    border-radius: 10px;
}
input:focus{
    outline: none;
} 

.container__footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.footer__img{
    width: 400px;
    height: 200px;
}

@media screen and (min-width:1000px) {
    .container{
        background-image: url(./Assets/92-923681_yamaha-motorcycle-2015.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1{
        color: #a50303;
    }
        
    .container__form{
        max-width: 700px;
        width: 100%;
        border-radius: 20px;
        min-height: 200px;
        max-height: 300px;
        height: 60%;
        display: flex;
        flex-direction: row;
        
    }
    
    
    input{
        width: 400px;
        height: 30px;
        padding: 20px 0 20px 0; 
        margin-left: 20px;
        
    }

    .container__form a{
        color: #fff;
    }

    .container__form a:hover{
        color: #d10000;
    }
    
}


    


